.buttons {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px; 
    padding-bottom: 10px;
  }
  
  .button {
    padding: 7px;
    border-radius: 10px;
  }
  
  .quantity{
    width: 50px;
  }