.productsContainer {
  width: calc(80% - 25px);
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.productImg {
  width: 200px;
}

.card {
  display: flex;
  justify-content: center;
  border: 1px dashed black;
  border-radius: 5px;
  margin-left: 15px;
  margin-bottom: 15px;
  width: calc(18% - 15px);
}

.productInfo {
  margin: 10px;
  height: 100px;
}

.discountPrice {
  font-size: 14px;
  text-decoration: line-through;
  opacity: 0.5;
  margin-bottom: 0px;
}

.discount {
  margin-top: 0px;
  font-size: 18px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px; 
  padding-bottom: 10px;
}

.button {
  padding: 7px;
  border-radius: 10px;
}

.quantity{
  width: 50px;
}
