.navContainer{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0px;
    padding: 0px 100px;
    box-shadow: 0 4px 6px -6px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #333333da;
    background-color: #0a7ba8;
}

.imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    padding: 10px;

    img{
        width: 70px;
    }
}


.btnGroup{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBtn{
    margin-right: 10px;
    padding: 15px;
    background: none;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.navBtn:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}

.navBtn:last-child{
    margin-right: 0px;
}