@import '../../index.css';

.categoriesContainer{
    width: 20%;
    height: fit-content;
    border-radius: 5px;
    /* border: 2px solid #0a7ba8; */
    padding: 10px;
    margin-right: 25px;
}

#categoryTitle{
    margin-bottom: 10px;
    color: var(--primary-color);
}

ul{
    padding-left: 10px;
}

li {
    list-style-type: none;
    padding: 5px;
    font-size: 14px;
    cursor: pointer;
}

li:hover{
    text-decoration: underline;
}

.categoryCount{
    margin-left: 5px;
    color: lightgray;
}

@media (max-width: 480px){
    .categoriesContainer{
        width: 100%;
    }
}


