.categoriesContainer{
    width: 20%;
    height: fit-content;
    border-radius: 5px;
    /* border: 2px solid #0a7ba8; */
    padding: 10px;
    margin-right: 25px;
}

#categoryTitle{
    margin-bottom: 10px;
}

ul{
    padding-left: 10px;
}

li {
    list-style-type: none;
    padding: 5px;
    font-size: 14px;
}

.categoryCount{
    margin-left: 5px;
    color: lightgray;
}


