@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand-Medium.ttf');
}

@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./assets/Quicksand-Bold.ttf');
}

:root {
  font-family: Quicksand, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #495fad;
  --secondary-color: #7091e6;
  --secondary-color-hover: #3963ce;
  --background-color: #e2e2e9;
  --red-color: #c50900;
}


.alert {
  min-height: fit-content;
  width: 560px;
  max-width: 90%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 10;
}

.alertProduct {
  min-height: fit-content;
  width: 300px;
  max-width: 90%;
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alert, .alertProduct {
  animation: fadeIn 0.5s ease-in-out;
}

.alert.fade-out, .alertProduct.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}


.alert img, .alertProduct img {
  width: 16px;
  height: 16px;
}

.alert-primary {
  background: var(--primary-color);
}
.alert p, .alertProduct p {
  color: #fff;
  font-family: Verdana;
  margin: 0;
  /* margin-left: 10px; */
  font-size: 14px;
}

.open {
  margin-left: auto;
  margin-right: 5px;
}
.close, .open {
  color: #fff;
  transition: transform 0.5s;
  font-size: 18px;
  margin-right: 5px;
  cursor: pointer;
}
.close:hover, .open:hover {
  transform: scale(1.3);
}

.goBack{
  width: 100%;
  display: flex;
  justify-content: start;
}

.goBackBtn{
  width: 100px;
  background-color: var(--secondary-color);
  color: white;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.goBackBtn:hover{
  background-color: var(--secondary-color-hover);
}

